body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.home-page {
  display: flex;
  height: 100vh;
  background-color: #0f0f11;
}

.left {
  /* background-color: #f2f2f2; */
  /* background-color: #0f0f11; */
  flex: 0.2;
  max-width: 200px;
  min-width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding-top: 30px;
  border-right: 1px solid gray;
}

.left__home {
  color: rgb(0, 195, 255);
}

.left > :first-child {
  font-size: 50px;
}

.left > * {
  padding: 20px;
}

/* .left > *:hover {
  border-right: 1px solid rgb(0, 195, 255);
} */

.main {
  /* background-color: #0f0f11; */

  flex: 1;
}

.main__input {
  margin: 30px;
  margin-top: 50px;
  margin-bottom: 0;

  display: flex;
  align-items: center;
  color: white;
  border-bottom: 1px solid lightgrey;
}

.main__input > input {
  flex: 1;
  /* margin: 5px; */
  border: none;
  outline-width: 0;
  margin-right: 5px;
  background-color: transparent;
  color: white;
  /* font-size: 30px; */
  padding-left: 10px;
}

.main__input > * {
  font-size: 30px;
  padding-right: 10px;
}

.input__searchIcon {
  font-size: 60px;
  cursor: pointer;
}

.main__tweetsList {
  height: 800px;
  margin: 10px 20px 10px 20px;
  /* background-color: #516bf0; */
  padding: 0 10px;
  overflow: scroll;
}

.right {
  flex: 1;
  border-left: 1px solid gray;
}

.right__trending {
  height: 500px;
  width: 300px;
  /* height: 70%;
  width: 50%; */
  background-color: #ffffff;
  margin: 50px;
  border-radius: 40px;
  border: 1px solid #979797;
  padding-top: 10px;
}

.trendingTable {
  /* height: 300px */
  width: 90%;
  height: 50%;
  background-color: #f2f2f2;
  margin: auto;
  margin-top: 10px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
}

.trendingTable > :first-child {
  font-size: smaller;
  padding-top: 10px;
}

.trendingTable__row {
  border-bottom: 1px solid #d8d8d8;
  min-height: 40px;
}

.trendingTable__row:not(:first-child) {
  cursor: pointer;
}

.trendingTable__row > * {
  margin: 10px;
  margin-left: 30px;
  color: #a5a5a6;
}
